<div id="about" class="container-fluid">
        <h2>{{paragraphHead}}</h2>   
        <p> {{paragraphBody}}</p>
        <h2>{{paragraphHead2}}</h2>
    <div id="div-row" class="row,container-fluid">
        <div class="column">
            <a href={{contactFb}} class="button-link">
                <img src="../../../assets/img/fb.png" alt="Facebook">
            </a>
        </div>
        <div class="column">
            <a href={{contactInsta}} class="button-link">
                <img src="../../../assets/img/ig.png" alt="Instagram">
            </a>    
        </div>
        <div class="column">
            <a href={{contactMail}} class="button-link">
                <img src="../../../assets/img/gmail.png" alt="E-mail">
            </a>
        </div>
    </div>
</div>
