<mat-toolbar  class="flex toolbar-position-fixed" color="primary">
  <!-- <mat-toolbar
  class="flex toolbar-position-fixed"
  color="primary"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
> -->
  <span>
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="sortByMenu" [attr.aria-label]="'Sort by ' + sort">
      Sort by
      <mat-icon>expand_more</mat-icon>
    </button>
      <mat-menu #sortByMenu="matMenu">
        <button (click)="onSortUpdated('asc')" mat-menu-item>Ascending</button>
        <button (click)="onSortUpdated('desc')" mat-menu-item>Descending</button>
        <button (click)="onSortUpdated('lowToHigh')" mat-menu-item>Low To High</button>
        <button (click)="onSortUpdated('highToLow')" mat-menu-item>High To Low</button>
      </mat-menu>
  </span>
  <span>
    <button mat-button (click)="toggleSort()">Toggle Sort</button>
  </span>
  <span>
      <button mat-button (click)="onShowCategory('Promotion Items')">Promotion Items</button>
  </span>
  <span>
    <button mat-button (click)="onShowCategory('Special Items')">Special Items</button>
  </span>
  <span>
    <button mat-button (click)="onShowCategory('All Products')">Clear Categories</button>
  </span>
  <span id="edge">
    <app-products-header (columnsCountChange)="onColumnsCountChange($event)"></app-products-header>
  </span>
</mat-toolbar>

  <app-product-box
  class="w-full"
  [fullWidthMode]="cols === 1"
  [cols]="cols"
  [category]="category"
  [sort]="sort" >
</app-product-box>